[Unit]
Description=Python Service
After=network-online.target network.target multi-user.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/python3 /home/pi/tram_chim_python/main.py
User=pi
ExecStartPre=/bin/sleep 30
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target network-online.target
